# server config
server:
  host: ${SERVER_HOST:localhost}
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: ${SERVER_CONTEXT:/}
  tomcat:
    remoteip:
      remote_ip_header: ${SERVER_TOMCAT_REMOTE_IP_HEADER:x-forwarded-for}
      protocol_header: ${SERVER_TOMCAT_PROTOCOL_HEADER:x-forwarded-proto}
  max-http-request-header-size: 32000
  error:
    include-stacktrace: never

# Spring configuration
spring:
  sql:
    init:
      schema-locations: classpath:db/schema-${spring.sql.init.platform}.sql
      mode: always
      platform: ${JDBC_PLATFORM:h2}
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  batch:
    jdbc:
      initialize-schema: always
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update
    # database-platform: ${JDBC_DIALECT:org.hibernate.dialect.H2Dialect}
  datasource:
    driverClassName: ${JDBC_DRIVER:org.h2.Driver}
    password: ${JDBC_PASS:password}
    username: ${JDBC_USER:sa}
    url: ${JDBC_URL:jdbc:h2:file:./data/db}
  quartz:
    job-store-type: jdbc
    jdbc:
      initialize-schema: never
  h2:
    console:
      enabled: ${H2_CONSOLE:false}

# patch loader for quartz
spring.org.quartz.scheduler.classLoadHelper.class: org.quartz.simpl.ThreadContextClassLoadHelper
# fix driver for postgres
# NOTE: we do NOT support h2 with quartz this way..
#spring.quartz.properties.org.quartz.jobStore.driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate

# Management Endpoints
management:
  server:
    port: ${MANAGEMENT_PORT:8081}
  endpoints:
    access:
      default: none
    web:
      base-path:
      exposure.include: "health,info,metrics"
  endpoint:
    info:
      access: read-only
    health:
      access: read-only

# Spring Docs
springdoc:
  api-docs:
    path: /v1/api-docs

logs:
  max-length: ${LOGS_MAX_LENGTH:2097152}


# Application endpoint
application:
  endpoint: ${DH_ENDPOINT:http://localhost:8080}
  name: ${DH_NAME:@project.name@}
  contacts-email: ${DH_CONTACTS_EMAIL:}
  contacts-name: ${DH_CONTACTS_NAME:@project.name@}
  contacts-link: ${DH_CONTACTS_LINK:https://github.com/scc-digitalhub/digitalhub-core}
  description: "@project.description@"
  version: "@project.version@"
  level: ${DH_API_LEVEL:}
  api: v1
  profiles: ${spring.profiles.active:default}

logging:
  level:
    ROOT: INFO
    it.smartcommunitylabdhub: ${LOG_LEVEL:INFO}
    it.smartcommunitylabdhub.framework.k8s: ${LOG_LEVEL_K8S:INFO}

security:
  api:
    cors:
      origins: ${DH_CORS_ORIGINS:}
  basic:
    username: ${DH_AUTH_BASIC_USER:admin}
    password: ${DH_AUTH_BASIC_PASSWORD:}
  jwt:
    issuer-uri: ${DH_AUTH_JWT_ISSUER_URI:${security.oidc.issuer-uri}}
    audience: ${DH_AUTH_JWT_AUDIENCE:${security.oidc.client-id}}
    claim: ${DH_AUTH_JWT_CLAIM:roles}
    username: ${DH_AUTH_JWT_USERNAME:preferred_username}
  oidc:
    issuer-uri: ${DH_AUTH_OIDC_ISSUER_URI:}
    client-name: ${DH_AUTH_OIDC_CLIENT_NAME:${application.name}}
    client-id: ${DH_AUTH_OIDC_CLIENT_ID:}
    client-secret: ${DH_AUTH_OIDC_CLIENT_SECRET:}
    claim: ${DH_AUTH_OIDC_CLAIM:${security.jwt.claim}}
    username-attribute-name: ${DH_AUTH_OIDC_USERNAME:preferred_username}
    scope: ${DH_AUTH_OIDC_SCOPE:openid,email,profile}

# JWT configuration
jwt:
  keystore:
    path: ${JWT_KEYSTORE_PATH:classpath:/keystore.jwks}
    kid: ${JWT_KEYSTORE_KID:}
  access-token:
    duration: ${JWT_ACCESS_TOKEN_DURATION:}
  refresh-token:
    duration: ${JWT_REFRESH_TOKEN_DURATION:}
  client-id: ${JWT_CLIENT_ID:${security.basic.username}}
  client-secret: ${JWT_CLIENT_SECRET:${security.basic.password}}
  redirect-uris: ${JWT_REDIRECT_URIS:http://localhost:*,${application.endpoint}/console/auth-callback}
  cache-control: ${JWKS_CACHE_CONTROL:public, max-age=900, must-revalidate, no-transform}

# Templates
templates:
  path: ${TEMPLATES_PATH:classpath:/templates}

